.verify-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e293b);
}

.verify-box {
  background: var(--footer-bg);
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 .4rem 1.5rem rgba(255, 255, 255, 0.1);
  text-align: center;
  width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.verify-box h2 {
  font-size: var(--font-2xl);
  color: white;
}

.verify-box .verify-text {
  font-size: var(--font-xs);
  color: white;
  letter-spacing: .02rem;
}

.verify-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.otp-input {
  /* padding: 0.75rem; */
  height: 3rem;
  font-size: 1rem;
  border: 1.5px solid #ccc;
  border-radius: .8rem;
  text-align: center;
  letter-spacing: .5rem;
  outline: none;
  transition: 0.2s;
}

.otp-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

 .verify-btn {
  background-color: #007bff;
  color: white;
   width: 100%;
   height: 3rem;
  /* padding: 0.75rem; */
  border: none;
  border-radius: .8rem;
  font-size: var(xs);
  letter-spacing: .07rem;
  cursor: pointer;
  transition: background 0.3s;
}

.verify-btn:hover {
  background-color: var(--footer-bg);
  border: 1px solid white;
}

.resend-text {
  font-size: 0.9rem;
  letter-spacing: .1rem;
  color: white;
}

.resend-link {
  color: #007bff;
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;
}
