.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e293b);
}

.forgot-box {
  background: var(--footer-bg);
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 .4rem 1.5rem rgba(255, 255, 255, 0.1);
  width: 40rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.forgot-box h2 {
  font-size: 2.2rem;
  /* margin-bottom: 1rem; */
  color: white;
}

.forgot-text {
  font-size: var(--font-sm);
  color: rgba(255, 255, 255, 0.442);
  /* margin-bottom: 20px; */
}

.forgot-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.forgot-input {
  height: 3.5rem;
  padding-left: 1rem;
  letter-spacing: .03rem;
  font-size: var(--font-sm);
  border: 1px solid #ccc;
  border-radius: 1rem;
}

.forgot-input:focus {
  border-color: #007bff;
  outline: none;
}

.forgot-btn {
  height: 3.5rem;
  background-color: #007bff;
  color: #fff;
  font-size: var(--font-md);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.01);
    background-color: var(--footer-bg);
    border: 1px solid white;
  }
}


