.change-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--color-dark-bg);
}

.change-box {
  background: var(--footer-bg);
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 0 1.5rem rgba(255, 255, 255, 0.1);
  min-width: 40rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.change-box h2 {
  font-size: var(--font-2xl);
  color: white;
}

.change-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.password-input {
  position: relative;
}


.password-input input {
  height: 3.5rem;
  width: 100%;
  padding-left: 1rem;
  font-size: var(--font-sm);
  border: 1px solid #ccc;
  border-radius: 1rem;
  letter-spacing: .05rem;
  outline: none;
}

.password-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  font-size: var(--font-sm);
}

.change-btn {
 height: 3.5rem;
  background-color: var(--button-color);
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.change-btn:hover {
  background-color: var(--footer-bg);
  border: 1px solid white;
}


.show-error{
  color: red;
  font-size: var(--font-sm);
}